<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>QA Portal</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{static/bootstrap/bootstrap.min.css}" href="../static/bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{static/custom-styles/2-col-portfolio.css}" href="../static/custom-styles/2-col-portfolio.css"
          rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">QA Team Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}" th:text="Logout + '  ' +  ${#authentication.name}"
                       href="#">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <h1 class="my-4">Test phones</h1>

    <div class="row">
        <th:block th:each="phone : ${phones}">
            <div class="col-lg-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <div th:with="phoneIdentifier=${phone.brand + ' ' + phone.model}">
                                <span class="phoneIdentifier" th:text="${phoneIdentifier}">Phone Brand and Model</span>
                                <a href="#" class="phone-details-link" th:data-identifier="${phoneIdentifier}"
                                   th:data-url="${phone.detailsUrl}">(details)</a>
                            </div>
                        </h4>
                        <div class="phone-action-panel">
                            <!--phone is not locked-->
                            <th:block th:if="${phone.bookedBy == null}">
                                <button type="button" th:data-url="${phone.bookingUrl}" class="book-action-button btn btn-block btn-primary">Book</button>
                            </th:block>
                            <!--phone is locked-->
                            <th:block th:if="${phone.bookedBy != null}">
                                <!--phone booked by current user-->
                                <th:block th:if="${phone.bookedBy} == ${#authentication.name}">
                                    <button type="button" th:data-url="${phone.bookingOutUrl}" class="book-action-button btn btn-block btn-warning">Book Out</button>
                                </th:block>
                                <!--phone booked by another user-->
                                <th:block th:if="${phone.bookedBy} != ${#authentication.name}">
                                    <span th:text="'Phone booked by ' + ${phone.bookedBy} + ' at ' + ${phone.bookedAt}"></span>
                                </th:block>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>

    </div>
    <!-- /.row -->
</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; QA Team Dashboard 2019</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Modal -->
<div class="modal fade" id="phoneDetailsModal" tabindex="-1" role="dialog"
     aria-labelledby="phoneDetailsModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="phoneDetailsModalCenterTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="phoneDetailsModalBody" class="modal-body" style="min-height: 300px">

            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script th:src="@{static/jquery/jquery.min.js}" src="../static/jquery/jquery.min.js"></script>
<script th:src="@{static/bootstrap/bootstrap.bundle.min.js}" src="../static/bootstrap/bootstrap.bundle.min.js"></script>
<script th:src="@{static/app/index.js}" src="../static/app/index.js"></script>

</body>

</html>
